.MainContainer {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  align-items: center;
  margin-top: 4vh;
}

.DataElementContainer {
  margin-bottom: 10px;
  border-style: solid;
  border-color: #444444;
  padding: 10px;
  border-width: 1px;
}

.TableContainer {
  width: 50vw !important;
  text-align: 'center';
}

.PageHeader {
  text-align: start;
}

@media (max-width: 767px) {
  .HideOnMobile {
    display: none !important;
  }
  .TableContainer {
    width: 90vw !important;
    text-align: 'start' !important;
  }
  .PageHeader {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
  }
}

